<h1>Welcome na Krub!</h1>
<p>
	<b>You are currently in Ruby On Rails Course first webpage</b>

	<br>
	<img 
		src="https://qvault.io/wp-content/uploads/2021/06/merge_sort_gif.gif">
		<br>This is merge sort algorithm
		<a href="https://nattee.net/teaching/algo"> <br>Want to learn more about merge sort and our teacher? Click!</a>
	</img>
</p>
